

<form action="/submit-form">

<h1>Body Mass Index Calculator</h1>

Enter your Height in Meters: <input type="number" name="height">

Enter your Weight in Kilograms: <input type="number" name="weight">

<button type="submit" name="submit-button">Submit</button>



</form>

